*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: #000000;
}
.bg-custom {
    background-color: #123456;
}
.container-fluid{
}
header{
   
}
/*.row my-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 10px; 
}*/
.card{

    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    
}
.variavel{
    background-color: rgba(131, 131, 131, 0.692); 
}
p{text-align: center;}
span{
    
}
.card-title{
    font-family: 'Ubuntu', sans-serif;
}
.card-text{
    font-family: 'Ubuntu', sans-serif;
}
