* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}

body {
    /*background-color: #ececec !important;*/
    background-image: linear-gradient(rgb(230, 165, 165), rgb(192, 215, 250));
}
.my-2{
    margin-top: 0.5rem !important;
}
.container-fluid {
    max-width: 75%;
    margin: auto;
}

header {}

/*Cards*/
.card {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    box-shadow: none !important;
}

/*range da data*/
#dates {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}